body {
  background-color: yellow;
  height: 100vh; /* Altura total da viewport */
  margin: 0; /* Remover margens padrão */
  padding: 0; /* Remover padding padrão */
  display: flex; /* Usar flexbox para alinhamento */
  flex-direction: column; /* Alinhar itens na vertical */
}
